Exploratory Data Analysis 
Understanding the dataset to exlopre how the data is present in the database and if there is need of creating some aggreagted tables that can help with:
* Vendor selection for profitability
* Product Pricing Optimization

In [12]:

import pandas as pd 
import pymysql

In [11]:
pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\abhis\anaconda3\lib\site-packages (2.0.34)
Collecting pymysql
  Using cached PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\abhis\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\abhis\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Using cached PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [13]:
# ceating database connection 
con = pymysql.connect(
host = "localhost"  ,
user = "root"       ,
password = "MYSQL",  
database = "inventory" 
)

In [14]:
# cheaking tables present in the database 

# Query to list tables
query = "SHOW TABLES"

# Execute and load into DataFrame
tables_df = pd.read_sql(query, con)

# Display the tables
print("Tables in the 'inventory' database:")
print(tables_df)

Tables in the 'inventory' database:
  Tables_in_inventory
0     begin_inventory
1       end_inventory
2            purchase
3      purchase_price
4           purchases
5               sales
6      vendor_invoice

C:\Users\abhis\AppData\Local\Temp\ipykernel_12240\782111183.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tables_df = pd.read_sql(query, con)

In [15]:
pd.read_sql("SELECT COUNT(*) FROM purchase_price", con)

C:\Users\abhis\AppData\Local\Temp\ipykernel_12240\3379637336.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT COUNT(*) FROM purchase_price", con)

   COUNT(*)
0     12261

In [16]:
pd.read_sql("SELECT COUNT(*) FROM sales", con)

C:\Users\abhis\AppData\Local\Temp\ipykernel_12240\2768885277.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT COUNT(*) FROM sales", con)

   COUNT(*)
0  12825363

In [17]:
pd.read_sql("SELECT COUNT(*) FROM end_inventory", con)

C:\Users\abhis\AppData\Local\Temp\ipykernel_12240\2968476699.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT COUNT(*) FROM end_inventory", con)

   COUNT(*)
0    224489